// Dark theme
$backgroundDark: #18191a;
$sidebarDark: #2a2c2f;
$textDark: #fff;

// Bright theme
$backgroundBright: rgb(245, 245, 245);
$sidebarBright: #ececec;
$textBright: #1d1d1f;

// Brand
$brandPrimary: #00c4b3;
